project:
  type: website
  output-dir: docs
  
website:
  navbar:
    background: primary
    search: true
    left:
      - text: "Inicio"
        file: index.qmd
      - text: "Introducción"
        file: intro.qmd
      - text: "Visualización"
        file: view.qmd
      - text: "About"
        file: about.qmd